@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');
$color1: rgb(0, 255, 13);
.box1{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 150px;
    color: white;
    font-size: 25px;
}
.b1{
    background-color: greenyellow;
    border-radius: 10px;
    padding: 10px;
}
.navegacion{
    margin: 10px;
}
.contacto{
    font-family: 'Heebo', sans-serif !important;
    margin: 10px;
}
p{
    font-size: 19px;
    margin-bottom: 8px;
}
.redes_sociales{
    margin: 10px;
}
footer i{
    font-size: 20px;
    margin-left: 38px;
}

/*layout inicia*/
@import "./layout/body";
@import "./layout/footer";
@import "./layout/header";
/*layout fin*/

/*pages inicio*/
@import "./pages/contacto";
@import "./pages/nosotros";
@import "./pages/productos";
@import "./pages/faqs";
/*pages fin*/

