@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap");
.box1 {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 150px;
  color: white;
  font-size: 25px;
}

.b1 {
  background-color: greenyellow;
  border-radius: 10px;
  padding: 10px;
}

.navegacion {
  margin: 10px;
}

.contacto {
  font-family: "Heebo", sans-serif !important;
  margin: 10px;
}

p {
  font-size: 19px;
  margin-bottom: 8px;
}

.redes_sociales {
  margin: 10px;
}

footer i {
  font-size: 20px;
  margin-left: 38px;
}

/*layout inicia*/
body {
  margin: 0;
  background-color: rgb(48, 48, 48);
  font-family: "Heebo", sans-serif;
}

h1 {
  margin: 20px 10px 10px 10px;
  color: rgb(0, 255, 13);
  text-align: center;
}

footer {
  width: 100%;
  height: auto;
}
footer nav a {
  font-family: "Heebo", sans-serif;
  padding-right: 10px;
  color: black;
  text-decoration: none;
  justify-content: space-between;
  font-size: 18px;
}
footer nav a:hover {
  color: green;
}
footer .container__footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: auto;
  margin: auto;
  height: auto;
  background-color: rgb(0, 255, 13);
  color: black;
  font-family: "Heebo", sans-serif;
}
footer .container__footer .logo1 img {
  height: 160px;
  margin: 10px;
  margin-bottom: 10px;
}
footer .container__footer h2 {
  font-size: 25px !important;
}
footer .container__footer p {
  text-align: left;
  color: black;
}

header .navbar {
  font-size: 20px;
  background-color: rgb(0, 255, 13) !important;
  z-index: 2;
}
header .navbar .img-navbar {
  height: 160px;
}
header .navbar .nav-link {
  color: rgb(0, 0, 0) !important;
}
header .navbar .nav-link:hover {
  color: green !important;
}

/*layout fin*/
/*pages inicio*/
form {
  margin: 50px;
  margin-top: 20px;
  border: solid 1px black;
  height: 340px;
  width: auto;
  text-align: left;
  padding: 10px;
  font-weight: 600;
  color: rgb(0, 255, 13);
}

.mapa {
  margin-bottom: 20px;
  text-align: center;
}

.map {
  text-align: center;
  color: rgb(0, 255, 13);
}

iframe {
  width: 1000px;
}

.mb-3 {
  font-size: 20px;
}

.bt {
  text-align: center;
  color: greenyellow;
}

.btn {
  background-color: rgb(0, 255, 13);
}

.vision {
  display: flex;
  align-items: center;
  gap: 10%;
  color: white;
  font-size: 30px;
  text-align: center;
  margin: 30px;
}

.t1 {
  color: rgb(0, 255, 13);
}

.im1 {
  width: 50%;
  height: auto;
}

.text1 {
  max-width: 600px;
}

.story {
  display: flex;
  color: white;
  font-size: 30px;
  gap: 10%;
  margin: 30px;
  margin-top: 250px;
  text-align: center;
}

.t2 {
  color: rgb(0, 255, 13);
}

.im2 {
  width: 50%;
  height: auto;
}

.text2 {
  max-width: 600px;
}

section {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-template-rows: repeat(2, 2fr);
  justify-items: center;
}

.card {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 300px;
  width: 300px;
  text-align: center;
  border: 1px solid black;
  background-color: rgb(0, 255, 13);
  font-family: fantasy;
  font-size: large;
}

.card-img {
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.boton {
  background-color: greenyellow;
}

.card-img1 {
  background-image: url("/multimedia/prote.png");
}

.card-img2 {
  background-image: url("/multimedia/creatina2.jpg");
}

.card-img3 {
  background-image: url("/multimedia/Prewar_Fruit.webp");
}

.card-img4 {
  background-image: url("/multimedia/aminoacido.jpg");
}

.card-img5 {
  background-image: url("/multimedia/ripped-ena-x-60-c_psulas.jpg");
}

.card-img6 {
  background-image: url("/multimedia/gainer.jpeg");
}

.card-img7 {
  background-image: url("/multimedia/multivitaminico.avif");
}

.card-img8 {
  background-image: url("/multimedia/minerales2.jpg");
}

.card-img9 {
  background-image: url("/multimedia/shaker.jfif");
}

.ti1 {
  color: rgb(0, 255, 13);
  font-size: 45px;
}

.ti2 {
  color: rgb(0, 255, 13);
}

.faq {
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
  color: white;
  text-align: center;
}

.item1 {
  margin-right: 30px;
  margin-top: 50px;
  font-size: 20px;
}

/*pages fin*//*# sourceMappingURL=style.css.map */