@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap");
.box1 {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 150px;
  color: white;
  font-size: 25px;
}

.desc {
  text-align: center;
  color: white;
}

.b1 {
  background-color: greenyellow;
  border-radius: 10px;
  padding: 10px;
}

.navegacion {
  margin: 10px;
}

.contacto {
  font-family: "Heebo", sans-serif !important;
  margin: 10px;
}

p {
  font-size: 19px;
  margin-bottom: 8px;
}

.redes_sociales {
  margin: 10px;
}

/*reset inicia*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

/*reset fin*/
/*layout inicia*/
body {
  margin: 0;
  background-color: rgb(48, 48, 48);
  font-family: "Heebo", sans-serif;
}

h1 {
  margin: 20px 10px 10px 10px;
  color: rgb(0, 255, 13);
  text-align: center;
}

footer {
  width: 100%;
  height: auto;
}

footer i {
  font-size: 20px;
  margin-left: 38px;
}

nav a {
  font-family: "Heebo", sans-serif;
  padding-right: 10px;
  color: black;
  text-decoration: none;
  justify-content: space-between;
  font-size: 18px;
}

nav a:hover {
  color: green;
}

.container__footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: auto;
  margin: auto;
  height: auto;
  background-color: rgb(0, 255, 13);
  color: black;
  font-family: "Heebo", sans-serif;
}

.logo1 img {
  height: 160px;
  margin: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: 25px !important;
}

p {
  text-align: left;
  color: black;
}

@media (min-width: 320px) and (max-width: 500px) {
  .logo1 img {
    content-visibility: hidden;
  }
  .navegacion {
    content-visibility: hidden;
  }
  .contacto {
    content-visibility: hidden;
  }
  .redes_sociales {
    margin: auto;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  .navegacion {
    content-visibility: hidden;
  }
  .contacto {
    content-visibility: hidden;
  }
  .redes_sociales {
    margin: auto;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .navegacion {
    content-visibility: hidden;
  }
  .c1 {
    text-align: left;
    color: black;
  }
  .redes_sociales {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
  }
}
@media (min-width: 1025px) and (max-width: 2560px) {
  .contacto {
    text-align: center;
  }
  .c1 {
    color: black;
    text-align: center;
  }
}
header .navbar {
  font-size: 20px;
  background-color: rgb(0, 255, 13) !important;
  z-index: 2;
}
header .navbar .img-navbar {
  height: 160px;
}
header .navbar .nav-link {
  color: rgb(0, 0, 0) !important;
}
header .navbar .nav-link:hover {
  color: green !important;
}

/*layout fin*/
/*pages inicio*/
form {
  margin: 50px;
  margin-top: 20px;
  height: 340px;
  width: auto;
  text-align: left;
  padding: 10px;
  font-weight: 600;
  color: rgb(0, 255, 13);
}

.mapa {
  margin-bottom: 20px;
  text-align: center;
}

.map {
  text-align: center;
  color: rgb(0, 255, 13);
}

iframe {
  width: 1000px;
}

.mb-3 {
  font-size: 20px;
}

.bt {
  text-align: center;
  color: greenyellow;
}

.btn {
  background-color: rgb(0, 255, 13);
}

@media (min-width: 320px) and (max-width: 1024px) {
  form {
    border: none;
  }
  .mapa {
    content-visibility: hidden;
  }
}
.vision {
  display: flex;
  align-items: center;
  gap: 10%;
  color: white;
  text-align: center;
  margin: 30px;
}

.t1 {
  color: rgb(0, 255, 13);
}

.im1 {
  width: 50%;
  height: auto;
}

.text1 {
  max-width: 600px;
  font-size: 25px;
}

.story {
  display: flex;
  color: white;
  gap: 10%;
  margin: 30px;
  margin-top: 250px;
  text-align: center;
}

.t2 {
  color: rgb(0, 255, 13);
}

.im2 {
  width: 50%;
  height: auto;
}

.text2 {
  max-width: 600px;
  font-size: 25px;
}

@media (min-width: 320px) and (max-width: 650px) {
  .vision {
    display: flex;
    flex-wrap: wrap;
  }
  .text1 {
    text-align: center;
    color: white;
    font-size: 20px;
  }
  .im1 {
    content-visibility: hidden;
  }
  .story {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .text2 {
    color: white;
    text-align: center;
    font-size: 20px;
  }
  .im2 {
    content-visibility: hidden;
  }
}
@media (min-width: 651px) and (max-width: 1100px) {
  .story {
    margin-top: 100px;
  }
  .text1 {
    font-size: 20px;
  }
  .text2 {
    font-size: 20px;
  }
}
section {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-template-rows: repeat(2, 2fr);
  justify-items: center;
}

.card {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 300px;
  width: 300px;
  text-align: center;
  border: 1px solid black;
  background-color: rgb(0, 255, 13);
  font-family: fantasy;
  font-size: large;
}

.p1 {
  color: black;
}

.p2 {
  color: black;
}

.p3 {
  color: black;
}

.p4 {
  color: black;
}

.p5 {
  color: black;
}

.p6 {
  color: black;
}

.p7 {
  color: black;
}

.p8 {
  color: black;
}

.p9 {
  color: black;
}

.card-img {
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.boton {
  background-color: greenyellow;
}

.card-img1 {
  background-image: url("/multimedia/prote.png");
}

.card-img2 {
  background-image: url("/multimedia/creatina2.jpg");
}

.card-img3 {
  background-image: url("/multimedia/Prewar_Fruit.webp");
}

.card-img4 {
  background-image: url("/multimedia/aminoacido.jpg");
}

.card-img5 {
  background-image: url("/multimedia/ripped-ena-x-60-c_psulas.jpg");
}

.card-img6 {
  background-image: url("/multimedia/gainer.jpeg");
}

.card-img7 {
  background-image: url("/multimedia/multivitaminico.avif");
}

.card-img8 {
  background-image: url("/multimedia/minerales2.jpg");
}

.card-img9 {
  background-image: url("/multimedia/shaker.jfif");
}

@media (min-width: 320px) and (max-width: 680px) {
  section {
    grid-template-columns: repeat(1, 1fr);
  }
  .p1 {
    text-align: center;
  }
  .p2 {
    text-align: center;
  }
  .p3 {
    text-align: center;
  }
  .p4 {
    text-align: center;
  }
  .p5 {
    text-align: center;
  }
  .p6 {
    text-align: center;
  }
  .p7 {
    text-align: center;
  }
  .p8 {
    text-align: center;
  }
  .p9 {
    text-align: center;
  }
}
@media (min-width: 681px) and (max-width: 1024px) {
  section {
    grid-template-columns: repeat(2, 2fr);
  }
}
.ti1 {
  color: rgb(0, 255, 13);
  font-size: 45px;
}

.ti2 {
  color: rgb(0, 255, 13);
}

.faq {
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
  color: white;
  text-align: center;
}

.item1 {
  margin-right: 30px;
  margin-top: 50px;
  font-size: 20px;
}

@media (min-width: 320px) {
  .ti2 {
    margin-top: 40px;
  }
  p {
    color: white;
    text-align: center;
    margin-top: 10px;
  }
}
/*pages fin*//*# sourceMappingURL=style.css.map */