@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap");
.home .home1 {
  background-image: url(../multimedia/suplementos-deportivos.webp);
  background-size: cover;
  height: 1000px;
}

.nosotros {
  height: auto;
}

.nosotros .nosotros1 {
  padding: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.829);
}

.navegacion {
  margin: 10px;
}

.contacto {
  font-family: "Heebo", sans-serif !important;
  margin: 10px;
}
.contacto p {
  font-size: 19px;
  margin-bottom: 8px;
}

.redes_sociales {
  margin: 10px;
}

footer i {
  font-size: 20px;
  margin-left: 38px;
}

/*pages inicio*/
p {
  text-align: center;
  font-size: 35px;
}

.productos {
  font-family: "Heebo", sans-serif;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 3fr);
  grid-template-rows: repeat(2, 300px);
  grid-gap: 15px;
  padding: 15px;
}
.productos .products {
  border: 1px solid #000;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  transition: all 0.3s;
}
.productos .products:hover {
  transform: scale(1.02);
}
.products .products1 {
  background-image: url(../multimedia/C1.png);
}
.products .products2 {
  background-image: url(../multimedia/C2.png);
}
.productos .products3 {
  background-image: url(../multimedia/C3.png);
}
.products .products4 {
  background-image: url(../multimedia/C4.png);
}
.products .products5 {
  background-image: url(../multimedia/C5.png);
}
.products .products6 {
  background-image: url(../multimedia/C6.png);
}

form {
  margin: 50px;
  margin-top: 20px;
  border: solid 2px black;
  height: 340px;
  width: auto;
  text-align: left;
  padding: 10px;
  font-weight: 600;
}

.mapa {
  margin-bottom: 20px;
  text-align: center;
}
.mapa p {
  margin-right: 10px;
  text-align: center;
  color: black;
}

iframe {
  width: 1000px;
}

.mb-3 {
  font-size: 20px;
}

.boton {
  text-align: center;
}

/*pages fin*/
/*layout inicio*/
header .navbar {
  font-size: 20px;
  background-color: rgb(0, 255, 13) !important;
  z-index: 2;
}
header .navbar .img-navbar {
  height: 160px;
}
header .navbar .nav-link {
  color: white !important;
}
header .navbar .nav-link:hover {
  color: black !important;
}

footer {
  width: 100%;
  height: 100%;
}
footer nav a {
  font-family: "Heebo", sans-serif;
  padding-right: 10px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  justify-content: space-between;
  font-size: 18px;
}
footer nav a:hover {
  color: rgb(0, 0, 0);
}
footer .container__footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: auto;
  margin: auto;
  height: 170px;
  background-color: rgb(0, 255, 13);
  color: rgb(255, 255, 255);
  font-family: "Heebo", sans-serif;
}
footer .container__footer .logo1 img {
  height: 160px;
  margin-bottom: 10px;
}
footer .container__footer h2 {
  font-size: 25px !important;
}
footer .container__footer p {
  text-align: left;
}

body {
  margin: 0;
  background-color: rgb(48, 48, 48);
  font-family: "Heebo", sans-serif;
}
body h1 {
  color: black;
  text-align: center;
  font-size: 35px;
}

/*layout fin*/
/*base inicio*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

/*base fin*/
/*comienzan las media quaries*/
@media only screen and (max-width: 2560px) and (min-width: 768px) {
  .about {
    content-visibility: hidden;
    background-image: none;
    border: none;
    height: 0px;
  }
  .us {
    content-visibility: hidden;
  }
}
@media only screen and (max-width: 1215px) {
  section {
    display: grid;
    grid-template-rows: repeat(4, 850px);
    height: 3450px;
  }
  .card {
    width: 1100px;
    height: 800px;
  }
  .card_img {
    height: 800px;
  }
  .card_img1 {
    background-image: url(../multimedia/descarga8.jpg);
  }
  .card a {
    margin-left: 500px;
    margin-bottom: 20px;
  }
  .card_title {
    font-size: 30px;
  }
  .card_desc {
    font-size: 20px;
  }
}
@media only screen and (max-width: 1120px) {
  section {
    grid-template-rows: repeat(4, 750px);
    height: 3050px;
  }
  .card {
    width: 900px;
    height: 700px;
  }
  .card a {
    margin-left: 400px;
  }
}
@media only screen and (max-width: 1080px) {
  .carousel-caption p {
    font-size: 28px;
  }
  iframe {
    width: 700px;
  }
}
@media only screen and (max-width: 920px) {
  section {
    grid-template-rows: repeat(4, 750px);
  }
  .card {
    width: 700px;
    height: 650px;
  }
  .card a {
    margin-left: 295px;
  }
}
@media only screen and (max-width: 905px) and (min-width: 689px) {
  .carousel-caption p {
    font-size: 25px;
  }
  .home {
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, 500px);
  }
  .home h1 {
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.774);
    color: white;
  }
  .home .img1 {
    background-position: center;
  }
  .home .img3 {
    background-position: bottom;
  }
  footer {
    height: 100%;
    width: 100%;
  }
  footer .contacto {
    content-visibility: hidden;
  }
  footer .navegacion {
    margin-left: 80px;
  }
  footer .redes_sociales {
    margin-right: 10px;
  }
}
@media only screen and (max-width: 900px) {
  .clients {
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(3, 400px);
  }
}
@media only screen and (max-width: 860px) and (min-width: 320px) {
  .vw_truck {
    background-position: center;
  }
}
@media only screen and (max-width: 800px) {
  iframe {
    width: 550px;
  }
}
@media only screen and (max-width: 767px) {
  .about {
    height: 500px;
  }
  .us p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 730px) {
  .clients {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 450px);
  }
}
@media only screen and (max-width: 720px) {
  section {
    grid-template-rows: repeat(4, 700px);
    height: 2850px;
  }
  .card {
    width: 500px;
  }
  .card a {
    margin-left: 195px;
  }
}
@media only screen and (max-width: 688px) {
  h1 {
    background-color: rgba(0, 0, 0, 0.774);
    color: white;
  }
  .contacto {
    content-visibility: hidden;
  }
  .navegacion {
    margin-left: 80px;
  }
  .home {
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, 500px);
  }
  .home .img3 {
    background-position: center;
  }
  .home h1 {
    font-size: 27px;
    background-color: rgba(0, 0, 0, 0.774);
    color: white;
  }
}
@media only screen and (max-width: 666px) {
  iframe {
    width: 450px;
  }
}
@media only screen and (max-width: 605px) and (min-width: 320px) {
  .home {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 200px);
  }
  .home .img1 {
    background-position: center;
  }
  .home .img3 {
    background-image: url(../multimedia/obra.jpg);
  }
  .navegacion {
    content-visibility: hidden;
  }
  .redes_sociales {
    margin-top: 40px;
  }
}
@media only screen and (max-width: 575px) and (min-width: 320px) {
  .navbar-collapse {
    background-color: rgb(2, 57, 128);
    z-index: 2;
  }
}
@media only screen and (max-width: 566px) {
  h4 {
    font-size: 21px !important;
  }
}
@media only screen and (max-width: 560px) {
  .mapa {
    content-visibility: hidden;
  }
  h6 {
    content-visibility: hidden;
  }
  form {
    margin: 10px;
    margin-top: 50px;
  }
}
@media only screen and (max-width: 548px) and (min-width: 496px) {
  .navegacion {
    content-visibility: hidden;
  }
  .redes_sociales {
    margin-top: 45px;
    margin-right: 30px;
  }
}
@media only screen and (max-width: 520px) {
  section {
    grid-template-rows: repeat(4, 550px);
    height: 2300px;
  }
  .card {
    width: 400px;
    height: 500px;
  }
  .card_title {
    font-size: 19px;
  }
  .card_desc {
    font-size: 18px;
  }
  .card a {
    margin-left: 150px;
  }
}
@media only screen and (max-width: 496px) {
  .redes_sociales {
    margin-top: 45px;
    margin-right: 20px;
  }
}
@media only screen and (max-width: 480px) {
  .about {
    background-position: left;
    height: 570px;
  }
}
@media only screen and (max-width: 464px) {
  .redes_sociales {
    margin: auto;
  }
}
@media only screen and (max-width: 460px) {
  .clients {
    grid-template-rows: repeat(6, 300px);
  }
}
@media only screen and (max-width: 451px) {
  .logo1 {
    content-visibility: hidden;
  }
  .redes_sociales {
    margin: 45px 130px 40px 5px;
  }
}
@media only screen and (max-width: 426px) {
  section {
    grid-template-rows: repeat(4, 550px);
    height: 2250px;
  }
  .card {
    width: 300px;
  }
  .card a {
    margin-left: 95px;
  }
  .about {
    background-position: center;
  }
}
@media only screen and (max-width: 409px) {
  .vw_truck {
    height: 750px;
  }
  .redes_sociales {
    margin: 45px 120px 40px 5px;
  }
}
@media only screen and (max-width: 406px) {
  .redes_sociales {
    margin: 45px 110px 40px 5px;
  }
}
@media only screen and (max-width: 396px) {
  .redes_sociales {
    margin-right: 100px;
    margin-top: 40px;
  }
}
@media only screen and (max-width: 388px) {
  .vw_truck {
    height: 800px;
  }
}
@media only screen and (max-width: 386px) {
  .redes_sociales {
    margin-right: 95px;
    margin-top: 40px;
  }
}
@media only screen and (max-width: 376px) {
  .redes_sociales {
    margin-left: 120px;
    margin-right: 50px;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 371px) {
  .vw_truck {
    height: 850px;
    background-position: center;
  }
  p {
    font-size: 27px;
  }
}
@media only screen and (max-width: 355px) and (min-width: 320px) {
  .redes_sociales {
    margin-left: 95px;
  }
}
@media only screen and (max-width: 340px) {
  section {
    grid-template-rows: repeat(4, 550px);
  }
  .card {
    width: 250px;
  }
  .card a {
    margin-left: 70px;
  }
}
@media only screen and (max-width: 329px) {
  .vw_truck {
    height: 920px;
  }
}
@media only screen and (max-width: 321px) {
  .vw_truck {
    height: 940px;
  }
}
@media only screen and (max-width: 320px) {
  form {
    height: 400px;
    padding: 10px;
    padding-top: 30px;
  }
  .boton {
    margin-top: 50px;
  }
}
/*terminan las media quaries*//*# sourceMappingURL=style.css.map */