form{
    margin: 50px;
    margin-top: 20px;
    border: solid 2px black;
    height: 340px;
    width: auto;
    text-align: left;
    padding: 10px;
    font-weight: 600;
}
.mapa{
    margin-bottom: 20px;
    text-align: center;

    p{
        margin-right: 10px;
        text-align: center;
        color: black;
    }
}
iframe{
    width: 1000px;
}
.mb-3{
    font-size: 20px;
}
.boton{
    text-align: center;
}