form{
    margin: 50px;
    margin-top: 20px;
    height: 340px;
    width: auto;
    text-align: left;
    padding: 10px;
    font-weight: 600;
    color: $color1;
}
.mapa{
    margin-bottom: 20px;
    text-align: center;
}
.map{
    text-align: center;
    color: $color1;
}
iframe{
    width: 1000px;
}
.mb-3{
    font-size: 20px;
}
.bt{
    text-align: center;
    color: greenyellow;
}
.btn{
    background-color: $color1;
}
@media (min-width: 320px) and (max-width: 1024px) {
    form{
        border: none;
    }
    .mapa{
        content-visibility: hidden;
    }
}