section{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: repeat(2, 2fr);
    justify-items: center
}
.card{
    margin-top: 50px;
    margin-bottom: 50px;
    height: 300px;
    width: 300px;
    text-align: center;
    border: 1px solid black;
    background-color: $color1;
    font-family: fantasy;
    font-size: large;
}
.card-img{
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.boton{
    background-color: greenyellow;
}
.card-img1{
    background-image: url("/multimedia/prote.png");
}
.card-img2{
    background-image: url("/multimedia/creatina2.jpg");
}
.card-img3{
    background-image: url("/multimedia/Prewar_Fruit.webp");
}
.card-img4{
    background-image: url("/multimedia/aminoacido.jpg");
}
.card-img5{
    background-image: url("/multimedia/ripped-ena-x-60-c_psulas.jpg");
}
.card-img6{
    background-image: url("/multimedia/gainer.jpeg");
}
.card-img7{
    background-image: url("/multimedia/multivitaminico.avif");
}
.card-img8{
    background-image: url("/multimedia/minerales2.jpg");
}
.card-img9{
    background-image: url("/multimedia/shaker.jfif");
}

