section{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: repeat(2, 2fr);
    justify-items: center
}
.card{
    margin-top: 50px;
    margin-bottom: 50px;
    height: 300px;
    width: 300px;
    text-align: center;
    border: 1px solid black;
    background-color: $color1;
    font-family: fantasy;
    font-size: large;
}
.p1{
    color: black;
}
.p2{
    color: black;
}
.p3{
    color: black;
}
.p4{
    color: black;
}
.p5{
    color: black;
}
.p6{
    color: black;
}
.p7{
    color: black;
}
.p8{
    color: black;
}
.p9{
    color: black;
}
.card-img{
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.boton{
    background-color: $color1;
    border: black;
}
.boton:hover{
    background-color: greenyellow;
    transition: ease-out 0.2s;
}
.card-img1{
    background-image: url("/multimedia/prote.png");
}
.card-img2{
    background-image: url("/multimedia/creatina2.jpg");
}
.card-img3{
    background-image: url("/multimedia/Prewar_Fruit.webp");
}
.card-img4{
    background-image: url("/multimedia/aminoacido.jpg");
}
.card-img5{
    background-image: url("/multimedia/ripped-ena-x-60-c_psulas.jpg");
}
.card-img6{
    background-image: url("/multimedia/gainer.jpeg");
}
.card-img7{
    background-image: url("/multimedia/multivitaminico.avif");
}
.card-img8{
    background-image: url("/multimedia/minerales2.jpg");
}
.card-img9{
    background-image: url("/multimedia/shaker.jfif");
}
@media (min-width: 320px) and (max-width: 680px) {
    section{
        grid-template-columns: repeat(1, 1fr);
    }
    .p1{
        text-align: center;
    }
    .p2{
        text-align: center;
    }
    .p3{
        text-align: center;
    }
    .p4{
        text-align: center;
    }
    .p5{
        text-align: center;
    }
    .p6{
        text-align: center;
    }
    .p7{
        text-align: center;
    }
    .p8{
        text-align: center;
    }
    .p9{
        text-align: center;
    }
}
@media (min-width: 681px) and (max-width: 1024px){
    section{
        grid-template-columns: repeat(2, 2fr);
    }
}

