header{
    .navbar{
        font-size: 20px;
        background-color: rgb(2, 57, 128) !important;
        z-index: 2;

        .img-navbar{
            height: 160px;
        }

        .nav-link{
            color: white !important;
        }

        .nav-link:hover{
            color: black !important;
        }
    }
}