header{
    .navbar{
        font-size: 20px;
        background-color: $color1 !important;
        z-index: 2;

        .img-navbar{
            height: 160px;
        }

        .nav-link{
            color: rgb(0, 0, 0) !important;
        }

        .nav-link:hover{
            color: green !important;
        }
    }
}